section {
  margin: 20px;
  padding: 15vh 20px 20px 20px;
  border-radius: 5px;
}

section #form-title {
  text-align: center;
  margin-bottom: 2rem;
}

section #contact-form {
  width: 100%; /* Full width on small screens */
  max-width: 600px; /* Limit the width on larger screens */
  background-color: #f5f5f5;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.name-group {
  display: flex;
  flex-wrap: wrap; /* Allow the flex items to wrap to the next line on smaller screens */
}

.name-group .first-name {
  flex: 1;
  margin-right: 1rem;
}

.phone-container .phone-input input[type="text"] {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.phone-container .phone-options {
  display: flex;
  align-items: center;
}

.phone-container .phone-options input[type="checkbox"] {
  margin-right: 10px;
}

input[type="number"]#phone {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0;
}

#checkbox {
  margin-top: 0;
}

.phone-invalid {
  border-color: #ff0000;
}

input[type="submit"] {
  background-color: #4d97b4;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"]:hover {
  background-color: #162c37;
  color: white;
}

/* Responsive styles for small screens */
@media (max-width: 576px) {
  h3 {
    font-family: "Exo 2";
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .name-group .first-name {
    margin-right: 0; /* Remove the right margin for smaller screens */
  }

  .phone-container .phone-input,
  .phone-container .phone-options {
    flex-direction: column; /* Stack phone input and options in a column on smaller screens */
  }
}
