nav {
  position: relative;
  background-color: rgba(64, 64, 64, 0.3);
  border-bottom: #162c37 1px solid;
  z-index: 2;
}

#landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../Images/temp.jpg);
  background-size: cover;
  background-position: center;
}

#landing::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(64, 64, 64, 0.5);
}

#landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

#projects-header {
  width: 65%;
  text-align: center;
  margin: 33vh auto;
  padding-top: 2rem;
}

.carousel {
  height: 90vh;
  width: 80vw;
  margin: 2rem auto 5rem auto;
  border: solid 2px gray;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.carousel-item .carousel-text {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
}

.carousel-item .button-slide {
  display: block;
}

.carousel-item button {
  background-color: #4d97b4;
  color: rgb(69, 69, 69);
  font-size: 1.5rem;
  width: 15rem;
  height: 5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

.carousel-item button:hover {
  background-color: #162c37;
  color: white;
}

.carousel-caption {
  background-color: rgba(245, 245, 245, 0.75);
  color: rgb(69, 69, 69);
  border-radius: 2rem;
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  opacity: 0.75;
  color: #4d97b4;
  border: none;
  border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: rgb(69, 69, 69);
  background-color: #4d97b4;
  border: 3rem;
  padding: 3rem 0.5rem;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

#home-buttons {
  text-align: center;
  margin: 35vh auto 20vh auto;
}

#home-buttons button {
  background-color: #4d97b4;
  color: rgb(69, 69, 69);
  font-size: 1.5rem;
  width: 15rem;
  height: 5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 1rem;
}

#home-buttons button:hover {
  background-color: #162c37;
  color: white;
}

@media (max-width: 768px) {
  .carousel {
    height: 60vh;
    width: 80vw;
    margin: 2rem auto 5rem auto;
    border: solid 2px gray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  }

  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .carousel-item .carousel-text {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
  }

  .carousel-item .button-slide {
    display: block;
  }

  .carousel-item button {
    background-color: #4d97b4;
    color: rgb(69, 69, 69);
    font-size: 1.5rem;
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
  }

  .carousel-item button:hover {
    background-color: #162c37;
    color: white;
  }

  .carousel-caption {
    background-color: rgba(245, 245, 245, 0.75);
    color: rgb(69, 69, 69);
    border-radius: 2rem;
    margin: 0 auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    opacity: 0.75;
    color: #4d97b4;
    border: none;
    border-radius: 5px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    color: rgb(69, 69, 69);
    background-color: #4d97b4;
    border: 3rem;
    padding: 3rem 0.5rem;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 1;
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }

  .modal-dialog {
    width: 90%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    background-color: lightgray;
  }

  .modal-body {
    background-color: lightgray;
  }

  .modal-footer button {
    background-color: #4d97b4;
    color: white;
    font-size: 1.5rem;
    width: 10rem;
    height: 4rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1rem;
  }

  .modal-footer button:hover {
    background-color: #162c37;
  }

  #home-buttons {
    text-align: center;
    margin: 35vh auto 20vh auto;
  }

  #home-buttons button {
    background-color: #4d97b4;
    color: white;
    font-size: 1.5rem;
    width: 10rem;
    height: 4rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1rem 2rem 1rem;
  }

  #home-buttons button:hover {
    background-color: #162c37;
    color: white;
  }
}
